<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoLogin"
        tools:targetApi="31">
        <activity
            android:name=".view.CadastroActivity"
            android:label="@string/TituloCadastroActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.PerfilUserActivity"
            android:exported="false"
            android:label="@string/TituloPerfilActivity">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:label="@string/TituloLoginActivity">
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="Tela Inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>